// TODO
// 小于40KB的文件无法替换，因为它被替换成base64了
// 暂时找不到方法
.bg-image-2 {
  width: 200rpx;
  height: 200rpx;
  background-image: url("/static/cdn/3.png");
  background-position: center;
  background-repeat: no-repeat;
}
