page {
  --bg-image: url('/static/cdn/5.png');
}

.bg-global {
  width: 200rpx;
  height: 200rpx;
  background-image: url("/static/cdn/4.png");
  background-position: center;
  background-repeat: no-repeat;
}

.bg-global-var {
  width: 200rpx;
  height: 200rpx;
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
}
